.visualizer-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.array-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: 70%;
  min-height: 50%;
  width: 80%;
  margin: 2% 10% 2% 10%;
}

.array-bar p{
  color: red;
  text-align: center;
}

.menu-container {
  height: 30%;
  min-height: 30%;
  margin: 0 10% 0 10%;
}

.menu-container button {
  width: 20%;
  height: 20%;
}
